* {
    margin: 0;  
    padding: 0;  
    border: 0;  
    font-size: 100%;  
    font: inherit;  
    vertical-align: baseline; 
    font-family: 'Exo 2', sans-serif;
}

body {
    min-height: 100vh;
    width: 100vw;
}

#personPicture {
    margin-top: 10vw;
    width: 77vw;
    margin-left: 10vw;
    height: auto;
    margin-top: 10vw;;
    margin-bottom: 0vw;
    border: 2vw solid black;
}

.infoText {
    margin-top: 5vw;
    width: 80vw;
    margin-left: 10vw;
    height: 10vw;    
    font-size: 10vw;
    padding-left: 5vw;
    padding-right: 5vw;
}